:root {
  --accent: #0028bc;
  --text-primary: white;
  --text-default: black;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
}

:not(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--text-default);
}

/* links */

a {
  text-decoration-color: transparent;
  color: var(--accent);
}

a:is(:hover, :focus-visible) {
  text-decoration-color: currentColor;
}

/* buttons */

.button-primary, .button-secondary {
  padding: 10px;
  border-radius: 8px;
}

.button-primary {
  background: var(--accent);
  color: var(--text-primary);
}
