@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --accent: #0028bc;
  --accent-light: #0031e4;
  --accent-dark: #002197;

  --text-default: black;
  --text-primary: white;
  --text-error: #d50000;
  --text-success: color-mix(in srgb, #007b2a, #08d648);

  --button-hover: rgba(0, 0, 10, 0.05);
  --button-active: rgba(0, 0, 10, 0.1);
  --button-selected: rgba(0, 100, 255, 0.1);

  --bg-0: white;
  --bg-1: #f0f4f6;

  --ease-in: cubic-bezier(0.66, 0.05, 1, 0.28);
  --ease-out: cubic-bezier(0.05, 0.66, 0.28, 1);
  --bounce-in: cubic-bezier(0.918, -0.3, 0.276, 1);
  --bounce-out: cubic-bezier(0.5, 0.19, 0.2, 1.19); /* fallback */
  --bounce-out: linear(0, 0.181 3.9%, 0.346 8%, 0.489 12.1%, 0.615 16.4%, 0.723 20.8%, 0.771 23.1%, 0.815 25.4%, 0.855 27.8%, 0.89 30.2%, 0.922 32.7%, 0.95 35.3%, 0.97 37.5%, 0.988 39.8%, 1.003 42.1%, 1.016 44.5%, 1.027 47%, 1.035 49.6%, 1.04 52.3%, 1.044 55.1%, 1.045 59.1%, 1.042 63.6%, 1.036 68.6%, 1.015 80.8%, 1.007 86.7%, 1.002 93.2%, 1);
}

:root#dark {
  --accent: #3d67ff;
  --accent-light: #6687ff;
  --accent-dark: #1a4bff;

  --text-default: white;

  --button-hover: rgba(245, 245, 255, 0.05);
  --button-active: rgba(245, 245, 255, 0.1);
  --button-selected: rgba(20, 120, 255, 0.1);

  --bg-0: #161d24;
  --bg-1: #0e1217;
}

* {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  font-family: "Inter", system-ui, sans-serif;
}

:not(h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
}

html, body {
  height: 100%;
}

body {
  font-family: system-ui, sans-serif;
  color: var(--text-default);
  background: var(--bg-0);
}

header {
  padding: 10px 25px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: var(--bg-1);
}

.disable-transitions,
.disable-transitions * {
  transition: none !important;
}

svg {
  /* prevents svgs from shifting slightly at the start and end of transitions in safari */
  transform: translate(0, 0);
}

/* links */

a:not(.button) {
  text-decoration-color: transparent;
  color: var(--accent);
}

a:is(:hover, :focus-visible) {
  text-decoration-color: currentColor;
}

a.button {
  text-decoration: none;
  display: inline-flex;
}

/* buttons */

button {
  cursor: pointer;
}

.button-primary, .button-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding: 10px 15px;
  border-radius: 20px;
}

:is(.button-primary, .button-secondary):focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

.button-primary {
  background: var(--accent);
  color: var(--text-primary);
}

.button-primary:hover {
  background: var(--accent-light);
}

.button-primary:active {
  background: var(--accent-dark);
}

.button-secondary {
  border: 1px solid var(--button-active);
}

.button-secondary:is(:hover, :focus-visible) {
  background: var(--button-hover);
  border-color: transparent;
}

.button-secondary:active {
  background: var(--button-active);
  border-color: transparent;
}

.button-secondary.selected {
  background: var(--button-selected);
  border-color: transparent;
  color: var(--accent);
}

.button-secondary.selected i:not(.ph-dots-three) {
  font-family: "Phosphor-Fill" !important;
}

/* cards */

.card {
  padding: 16px;
  border-radius: 24px;
  box-shadow: 0 4px 8px gainsboro;
  background: var(--bg-1);
}

/* icons */
i {
  font-size: 1.25em;
}
