/* MAIN */

body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

/* CANVAS */

#canvas-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--bg-1);
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
}

/* COLOR PALETTE */

#color-buttons {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  padding: 8px; /* 10px including border width */
  border: 2px solid var(--selected-color, transparent);
  color: var(--selected-color, black);
  border-radius: 25px;
  background: var(--bg-0);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: border-color 0.4s ease-out -0.2s,
              height 0.4s var(--bounce-out),
              translate 0.4s var(--ease-out);
}

@media (max-height: 620px) {
  #color-buttons {
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    align-content: center;
    grid-auto-flow: column;
  }
}

#color-buttons.hidden {
  translate: calc(100% + 20px) 0;
  pointer-events: none;
}

#color-buttons.closed {
  height: 50px !important;
  transition: border-color 0.15s 0.3s,
              height 0.4s var(--bounce-in),
              translate 0.4s var(--bounce-in);
}

.color-button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: var(--color);
  position: relative;
  transition: scale 0.1s, opacity 0.3s;
}

#color-buttons.closed .color-button {
  opacity: 0;
  transition: scale 0.1s, opacity 0.23s 0.15s;
}

.color-button.white {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.color-button:focus-visible {
  outline: 2px solid var(--color);
  outline-offset: 2px;
}

.color-button.white:focus-visible {
  outline-color: #b1b1b1;
}

.color-button:hover {
  scale: 1.05;
}

.color-button:active {
  scale: 0.95;
}

#exit-place-mode {
  padding: 0;
  border-radius: 100px;
  inset: auto 0;
  aspect-ratio: 1;
  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0s 0.2s;
}

#color-buttons.closed #exit-place-mode {
  transition: opacity 0.2s 0.2s, visibility 0s 0.2s;
  opacity: 1;
  visibility: visible;
}

#exit-place-mode svg {
  width: 30px;
  height: 30px;
}

/* COOLDOWN PROGRESS BAR */

#cooldown {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  background-image: repeating-linear-gradient(-25deg, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.25) 25px, rgba(0, 0, 0, 0.35) 25px, rgba(0, 0, 0, 0.35) 50px);
  display: none;
}

#color-buttons.cooldown .color-button {
  pointer-events: none;
}

#color-buttons.cooldown #cooldown {
  display: block;
  animation: cooldown 10s linear forwards;
  backdrop-filter: blur(1px);
}

@keyframes cooldown {
  to { height: 0; }
}

/* LOGO */

#logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 0.75em;
  z-index: 2;
  font-weight: bold;
  color: var(--accent);
  display: flex;
  align-items: center;
  text-decoration: none;
}

#logo > div {
  display: inline-block;
  height: 1em;
  width: 1em;
  background: currentColor;
  mask-image: url("../nueva_school.png");
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  margin-right: 1px;
  margin-top: 1px;
}

#logo > span {
  margin-left: 0.5px;
}

#logo:is(:hover, :focus-visible)::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1.5px;
  background: currentColor;
}

/* ACCOUNTS */

#account-wrapper {
  position: absolute;
  top: 5px;
  right: 5px;
  filter: drop-shadow(0 1px 6px transparent);
  display: flex;
  gap: 10px;
  z-index: 10;
  transition: filter 0.2s linear;
  padding: 5px;
  border-radius: 25px;
}

#account-wrapper.signed-in #sign-in {
  display: none;
}

#account-wrapper > .button-secondary {
  position: relative;
  background: var(--bg-1);
}

#account-wrapper > .button-secondary::after {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  pointer-events: none;
}

#account-wrapper > .button-secondary:is(:hover, :focus-visible)::after {
  background: var(--button-hover);
}

#account-wrapper > .button-secondary:active::after {
  background: var(--button-active);
}

#account-wrapper .button-secondary.selected::after {
  background: var(--button-active);
  border-color: transparent;
}

#sign-in,
#account-menu {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#profile-button {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 0;
}

#account-wrapper:not(.signed-in) #profile-button {
  display: none;
}

#profile-button > img {
  width: 100%;
  height: 100%;
}

#account-menu {
  transition: transform 0.2s ease, opacity 0.1s linear;
  position: absolute;
  top: 55px;
  right: 5px;
  background: var(--bg-0);
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-10px);
  min-width: 190px;
  pointer-events: none;
}

#account-wrapper.menu-open #account-menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

#account-email {
  opacity: 0.5;
}

#sign-in {
  padding: 10px 17px 10px 15px;
}

#sign-out {
  padding: 5px 10px;
  margin-top: 10px;
  width: 100%;
}

#context-menu-button > svg, #sign-out > svg, #sign-in > svg, #context-menu > button > svg {
  height: 1.25em;
  width: 1.25em;
}

#context-menu {
  box-shadow: 0 1px 6px transparent;
  transition: opacity 0.1s linear, box-shadow 0.2s linear;
  position: absolute;
  background: var(--bg-0);
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  gap: 5px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 5px;
}

#context-menu.shown {
  /* transform: translateY(0); */
  opacity: 1;
  pointer-events: all;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

#context-menu > button {
  padding: 5px;
  padding-right: 15px;
  border-radius: 0;
  border: none;
  justify-content: start;
  white-space: nowrap;
  border-radius: 5px;
}

#context-menu-button {
  z-index: 10;
  height: 40px;
  width: 40px;
  padding: 0;
}

/* TOAST (yummy) */

#toast-wrapper {
  visibility: hidden;
  position: absolute;
  top: 10px;
  left: 50%;
  translate: -50% 0;
  pointer-events: none;
  z-index: 100;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
  transform: translateY(calc(-100% - 20px));
  transition: visibility 0s 0.5s, transform 0.5s var(--bounce-in);
  border-radius: 8px;
  overflow: hidden;
}

#toast-wrapper.shown {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.6s linear(0, 0.009 1.2%, 0.035 2.4%, 0.078 3.7%, 0.139 5.1%, 0.273 7.6%, 0.698 14.7%, 0.817 17%, 0.91 19.1%, 0.987 21.2%, 1.05 23.4%, 1.095 25.6%, 1.125 27.8%, 1.143 31.1%, 1.137 34.8%, 1.018 50.2%, 0.996 54.6%, 0.983 59.2%, 0.98 65.9%, 1 85.2%, 1);
}

#toast-wrapper .spacer {
  flex-grow: 1;
}

#toast {
  color: var(--text-success);
  background: var(--bg-0);
  padding: 10px 12px;
  pointer-events: all;
  flex: 0 1 auto;
}

#toast.error {
  color: var(--text-error);
}

#toast-wrapper:has(#toast.error) {
  width: 60%;
  min-width: 300px;
}

/* theme selected */
#theme-selector-title {
  margin-top: 10px;
  margin-bottom: 5px;
}

#theme-selector {
  display: flex;
  gap: 5px;
  width: 100%;
}

#theme-selector button {
  padding: 5px;
  /* height: 40px; */
  flex-basis: 100%;
  flex-shrink: 1;
}

#theme-selector button[data-theme="auto"].selected i {
  transform: scaleX(-1);
}
